.rectangleColor1{
    background-color: #FFFFFF;

    color: #000000;
}

.rectangleBackground1{
    background: #FFFFFF;
}

.line1{
    border: 1px solid #000000;
}

.rectangleColor2{
    background: #001F54;
    color: #FFE433;
}

.rectangleBackground2{
    background-color: #001F54;
}

.line2{
    border: 1px solid #FFE433;
}

.rectangleColor3{
    background-color: #001045;
    color: #FFEFBA;
}

.rectangleBackground3{
    background-color: #001045;
}

.line3{
    border: 1px solid #FFEFBA;
}

.rectangleColor4{
    background-color: #0F5151;
    color: #F0AEAE;
}

.rectangleBackground4{
    background-color: #0F5151;
}

.line4{
    border: 1px solid #F0AEAE;
}

.rectangleColor5{
    background-color: #004242;
    color: #FFBDBD;
}

.rectangleBackground5{
    background-color: #004242;
}

.line5{
    border: 1px solid #FFBDBD;
}

.rectangleColor6{
    background-color: #003333;
    color: #FFCCCC;
}

.rectangleBackground6{
    background-color: #003333;
}

.line6{
    border: 1px solid #FFCCCC;
}

.rectangleColor7{
    background-color: #FFA700;
    color: #0058FF;
}

.rectangleBackground7{
    background-color: #FFA700;
}

.line7{
    border: 1px solid #0058FF;
}

.rectangleColor8{
    background-color: #F09800;
    color: #0F67FF;
}

.rectangleBackground8{
    background-color: #F09800;
}

.line8{
    border: 1px solid #0F67FF;
}