* {
    margin: 0;
    padding: 0;
    background: #1E1E1E;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.menu {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.elem_menu {
    margin: 20px 5px;
    width: 400px;
    height: 250px;
    border-radius: 20px;

    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 400;
}

.rectangleHead {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 10px;
}

.rectangle {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 10px;
}

.rectangle:hover {
    border: 1px solid #FFF;
}

.rectangleTitle {
    font-size: 40px;
    line-height: 150%;
    width: 100%;
    padding: 0px 0px;
}

.rectangleText {
    font-size: 17px;
    line-height: 16px;
    padding: 10px 0px;
}

a.noActive {
    pointer-events: none;
    /* делаем элемент неактивным для взаимодействия */
    cursor: default;
}