@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Involve";
    font-weight: 400;
    src: url(fonts/Involve-Regular.ttf) format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inknut Antiqua", serif;

    --yellow: #F8A73F;
    --orange: #DB5C01;
    --grey: #99998F;
    --black: #1B1612;
    --beige: #CBB796;
}

html {
    font-size: 25px;
    line-height: 25px;
}

body {
    min-height: 100vh;
}

h1 {
    font-size: 6rem;
    line-height: 6rem;
}

p,
a,
li {
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
}

h3,
h2 a {
    font-size: 2rem;
    line-height: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-size: 3rem;
    line-height: 3rem;

    font-weight: 400;
}

header h2:first-of-type {
    font-family: "Involve";
}

@media (max-width: 1000px) {
    html {
        font-size: 16px;
    }
}