nav {
    width: 40%;
    max-width: 489px;
    height: 80vh;

    display: flex;

    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
}

.left {
    width: 40%;
    height: 100%;
    background-color: var(--yellow);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.5;
}

.left a {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -50px;

    color: var(--orange);
}




.right {
    width: 60%;

    text-align: center;
    height: 100%;

    display: none;

    opacity: 0.5;
}

.left:hover~.right,
.right:hover {


    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow);

}

.left:hover,
.right:hover{
    opacity: 1;
}

.right ul {
    list-style-type: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.right ul a {
    color: var(--grey);
}

.right ul a:hover {
    color: var(--black);

    transition: 0.s;
}

@media (max-width: 1000px) {
    nav {
        max-width: 189px;
    }
}