.grid-main {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(1, 100%);
    height: 100vh;
}

.grid-main>div {
    /* border: 1px solid blueviolet; */
}

.panel-head {
    display: grid;
    grid-template-rows: 160px 1fr;
}

.sidebar {
    display: grid;
    align-items: center;
    grid-template-rows: 50px 250px 100px;
    row-gap: 20px;
    background-color: var(--dash-back-color);
    color: white;
    font-size: 20px;
    /* box-shadow: 0 0 100px rgba(0,0,0,0.5); */
}

.sidebar>div>div {
    padding: 5px 15px;
}

.name-dashboard {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 10px 0px;
    margin-top: 20px;
    font-size: 27px;
}

.end-elem-dash,
.main-elem-dash {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr;
    align-items: start
}

.main-elem-dash>div>img,
.end-elem-dash>div>img {
    width: 23px;
}

/* main content */

.main-content {
    background-color: var(--back-main-panel);
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(1, 2fr) repeat(1, 1fr);
}