.your-project {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-row: 1/3;
    align-content: stretch;
}

.your-project-panel {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.your-project-panel>div {
    border-left: 7px solid var(--yellow);
    display: grid;

}

.your-project-panel>div>div:first-child>div:first-child {
    /*your project title elem*/
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.your-project-panel>div>div:first-child>div:nth-child(2) {
    /* your project text elem */
    color: var(--text-color);
    font-size: 16px;
}

.your-project-panel>div>div:nth-child(2) {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(3, 30px);
}

.your-project-panel>div>div:nth-child(2)>div {
    /* your project button elem */
    border: 1px solid pink;
    width: 20px;
    height: 20px;
}