.skills-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-basis: 225px;
    height: 258px;

    background-color: var(--beige);
    border-radius: 46px;
    margin: 25px;

    width: 30%;
}

.card1 {
    flex-grow: 3;


    /* width: 771px; */

}

.skills-cards div img {
    width: 80%;


}

.card2,
.card3,
.card5 .card6 .card7 .card8 .card9 {
    flex-grow: 1;
}

.card4 {
    flex-grow: 2;
}

.about_me-information p {
    font-family: "Involve";
    font-weight: 400;
}

.about_me-h2,
h3 {
    font-family: "Involve";
}

/* experience */
h4 {
    color: var(--yellow);
    margin-bottom: 15px;
    font-family: "Involve";

}

.about_me-experience {
    text-align: left;
    /* padding-left: 200px; */
    /* width: 100%; */
    /* min-width: 650px; */
    /* max-width: 800px; */
    margin-bottom: 150px;
}

.about_me-experience-card {
    margin-bottom: 50px;
    position: relative;

}

.about_me-experience-card::before {
    position: relative;
    top: 65px;
    left: -230px;
    display: block;
    height: 100px;
    width: 200px;
}

.about_me-experience-card:nth-of-type(1)::before {
    content: "";
    background: url("../img/my-experience2020.svg") center/100% no-repeat;


}

.about_me-experience-card:nth-of-type(2)::before,
.about_me-experience-card:nth-of-type(3)::before {
    content: "";
    background: url("../img/my-experience2022.svg") center/100% no-repeat;

}

.about_me-experience-card::marker {
    color: var(--yellow);
}

.about_me-experience-card p {
    font-family: "Involve";
}

.about_me-experience ul {
    color: var(--beige);
    list-style-type: disc;
    padding-left: 200px;
}

.about_me-experience-card p:last-of-type {
    color: var(--beige);
}

.experience-card-lessons {
    padding-left: 100px;
    margin-top: 1rem;
}

.experience-card-lessons li {
    margin-bottom: 1rem;
}

.about_me-experience-card p:first-of-type {
    color: var(--orange);
    margin-bottom: 15px;

}

/* contacts */
.about_me-contacts-div {
    background-color: var(--beige);
    max-width: 1000px;
    height: 212px;
    margin: 0 auto 150px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding: 24px 57px;
}

.contact {
    background-color: var(--black);
    color: var(--orange);
    border-radius: 20px;
    padding: 17px 28px;
    width: fit-content;
    flex-grow: 1;
    max-width: 417px;
}

.contact:lang(ru) {
    font-family: "Involve";
}

.about_me-social_media{
    width: 382px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}



@media (max-width:1000px) {
    .about_me-experience-card::before {
        display: block;
        width: 150px;
        left: -180px;
        top: 60px;
    }
}